html{
    background-color: white;

}

h1{
    text-align: center;
    margin-top: 50px;

}

.cuadro1{
    background-color: blueviolet;
    color: white;
    box-shadow: 1px 10px 50px gray;
    font-weight: 500;
    padding: 30px;
    height: 115px;
    width: 220px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

.cuadro2{
    background-color: fuchsia;
    color: white;
    box-shadow: 1px 10px 50px gray;
    font-weight: 500;
    padding: 30px;
    height: 115px;
    width: 220px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.cerrarSesion{
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
    color: rgb(224, 68, 94);

}